<!-- Header -->
<div id="header">
  
  <!-- Title -->
  <div id="title">
    <h2 style="display:inline-block;">Hidden Gems</h2>
    <h3 style="display:inline-block;margin-left:8px;">Cryptocurrency Search Engine</h3>
  </div>

  <!-- Search Form -->
  <div id="search-form">

    <div>
      <h4>Select market data provider:</h4>
      <mat-form-field appearance="fill">
        <mat-label>Data Provider</mat-label>
        <mat-select [(value)]="inputProvider" [disabled]="disableInput">
          <mat-option value="Coingecko">CoinGecko</mat-option>
          <!-- <mat-option value="coinmarketcap">CoinMarketCap</mat-option> -->
        </mat-select>
      </mat-form-field>

      <button style="margin-left:8px;" (click)="fetchData(false)" [disabled]="disableInput || coins" mat-flat-button
        color="primary">Fetch Data</button>
      <button style="margin-left:8px;" (click)="refreshCache()" [disabled]="disableInput || !coins" mat-stroked-button
        color="primary">Empty Cache</button>
    </div>

    <div>
      <h4>Filter market data:</h4>
      <span class="input-wrapper">
        <mat-form-field appearance="fill">
          <mat-label>Minimum Price</mat-label>
          <mat-select (selectionChange)="filterData(true, true)" [(value)]="inputMinPrice" [disabled]="disableInput">
            <mat-option value="Any">Any</mat-option>
            <mat-option value=".00000001">{{.00000001 | currency:'USD':'symbol-narrow':'1.2-12'}}</mat-option>
            <mat-option value=".0000001">{{.0000001 | currency:'USD':'symbol-narrow':'1.2-12'}}</mat-option>
            <mat-option value=".000001">{{.000001 | currency:'USD':'symbol-narrow':'1.2-12'}}</mat-option>
            <mat-option value=".00001">{{.00001 | currency:'USD':'symbol-narrow':'1.2-12'}}</mat-option>
            <mat-option value=".0001">{{.0001 | currency:'USD':'symbol-narrow':'1.2-12'}}</mat-option>
            <mat-option value=".001">{{.001 | currency:'USD':'symbol-narrow':'1.2-12'}}</mat-option>
            <mat-option value=".01">{{.01 | currency:'USD':'symbol-narrow':'1.2-12'}}</mat-option>
            <mat-option value=".1">{{.1 | currency:'USD':'symbol-narrow':'1.2-12'}}</mat-option>
            <mat-option value="1">{{1 | currency:'USD':'symbol-narrow':'1.2-12'}}</mat-option>
            <mat-option value="10">{{10 | currency:'USD':'symbol-narrow':'1.2-12'}}</mat-option>
            <mat-option value="100">{{100 | currency:'USD':'symbol-narrow':'1.2-12'}}</mat-option>
            <mat-option value="1000">{{1000 | currency:'USD':'symbol-narrow':'1.2-12'}}</mat-option>
            <mat-option value="10000">{{10000 | currency:'USD':'symbol-narrow':'1.2-12'}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Maximum Price</mat-label>
          <mat-select (selectionChange)="filterData(true, true)" [(value)]="inputMaxPrice" [disabled]="disableInput">
            <mat-option value=".00000001">{{.00000001 | currency:'USD':'symbol-narrow':'1.2-12'}}</mat-option>
            <mat-option value=".0000001">{{.0000001 | currency:'USD':'symbol-narrow':'1.2-12'}}</mat-option>
            <mat-option value=".000001">{{.000001 | currency:'USD':'symbol-narrow':'1.2-12'}}</mat-option>
            <mat-option value=".00001">{{.00001 | currency:'USD':'symbol-narrow':'1.2-12'}}</mat-option>
            <mat-option value=".0001">{{.0001 | currency:'USD':'symbol-narrow':'1.2-12'}}</mat-option>
            <mat-option value=".001">{{.001 | currency:'USD':'symbol-narrow':'1.2-12'}}</mat-option>
            <mat-option value=".01">{{.01 | currency:'USD':'symbol-narrow':'1.2-12'}}</mat-option>
            <mat-option value=".1">{{.1 | currency:'USD':'symbol-narrow':'1.2-12'}}</mat-option>
            <mat-option value="1">{{1 | currency:'USD':'symbol-narrow':'1.2-12'}}</mat-option>
            <mat-option value="10">{{10 | currency:'USD':'symbol-narrow':'1.2-12'}}</mat-option>
            <mat-option value="100">{{100 | currency:'USD':'symbol-narrow':'1.2-12'}}</mat-option>
            <mat-option value="1000">{{1000 | currency:'USD':'symbol-narrow':'1.2-12'}}</mat-option>
            <mat-option value="10000">{{10000 | currency:'USD':'symbol-narrow':'1.2-12'}}</mat-option>
            <mat-option value="Any">Any</mat-option>
          </mat-select>
        </mat-form-field>
      </span>

      <span class="input-wrapper">
        <mat-form-field appearance="fill">
          <mat-label>Minimum Volume</mat-label>
          <mat-select (selectionChange)="filterData(true, true)" [(value)]="inputMinVolume" [disabled]="disableInput">
            <mat-option value="Any">Any</mat-option>
            <mat-option value="1000">{{1000 | currency:'USD':'symbol-narrow':'1.0-0'}}</mat-option>
            <mat-option value="10000">{{10000 | currency:'USD':'symbol-narrow':'1.0-0'}}</mat-option>
            <mat-option value="100000">{{100000 | currency:'USD':'symbol-narrow':'1.0-0'}}</mat-option>
            <mat-option value="1000000">{{1000000 | currency:'USD':'symbol-narrow':'1.0-0'}}</mat-option>
            <mat-option value="10000000">{{10000000 | currency:'USD':'symbol-narrow':'1.0-0'}}</mat-option>
            <mat-option value="100000000">{{100000000 | currency:'USD':'symbol-narrow':'1.0-0'}}</mat-option>
            <mat-option value="1000000000">{{1000000000 | currency:'USD':'symbol-narrow':'1.0-0'}}</mat-option>
            <mat-option value="10000000000">{{10000000000 | currency:'USD':'symbol-narrow':'1.0-0'}}</mat-option>
            <mat-option value="100000000000">{{100000000000 | currency:'USD':'symbol-narrow':'1.0-0'}}</mat-option>
            <mat-option value="1000000000000">{{1000000000000 | currency:'USD':'symbol-narrow':'1.0-0'}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Maximum Volume</mat-label>
          <mat-select [(value)]="inputMaxVolume" [disabled]="disableInput">
            <mat-option value="1000">{{1000 | currency:'USD':'symbol-narrow':'1.0-0'}}</mat-option>
            <mat-option value="10000">{{10000 | currency:'USD':'symbol-narrow':'1.0-0'}}</mat-option>
            <mat-option value="100000">{{100000 | currency:'USD':'symbol-narrow':'1.0-0'}}</mat-option>
            <mat-option value="1000000">{{1000000 | currency:'USD':'symbol-narrow':'1.0-0'}}</mat-option>
            <mat-option value="10000000">{{10000000 | currency:'USD':'symbol-narrow':'1.0-0'}}</mat-option>
            <mat-option value="100000000">{{100000000 | currency:'USD':'symbol-narrow':'1.0-0'}}</mat-option>
            <mat-option value="1000000000">{{1000000000 | currency:'USD':'symbol-narrow':'1.0-0'}}</mat-option>
            <mat-option value="10000000000">{{10000000000 | currency:'USD':'symbol-narrow':'1.0-0'}}</mat-option>
            <mat-option value="100000000000">{{100000000000 | currency:'USD':'symbol-narrow':'1.0-0'}}</mat-option>
            <mat-option value="1000000000000">{{1000000000000 | currency:'USD':'symbol-narrow':'1.0-0'}}</mat-option>
            <mat-option value="Any">Any</mat-option>
          </mat-select>
        </mat-form-field>
      </span>
    </div>

    <div>
      <span class="input-wrapper">
        <mat-form-field appearance="fill">
          <mat-label>Include Keyword(s)</mat-label>
          <input matInput (ngModelChange)="filterIncludeKeywordsData($event)" [(ngModel)]="inputInclude"
            [disabled]="disableInput">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Exclude Keyword(s)</mat-label>
          <input matInput (ngModelChange)="filterExcludeKeywordsData($event)" [(ngModel)]="inputExclude"
            [disabled]="disableInput">
        </mat-form-field>
      </span>

      <span class="input-wrapper">
        <mat-form-field (change)="sortData()" appearance="fill">
          <mat-label>Sort By</mat-label>
          <mat-select (selectionChange)="sortData()" [(value)]="inputSortBy" [disabled]="disableInput">
            <mat-option value="volume">Volume</mat-option>
            <mat-option value="price">Price</mat-option>
          </mat-select>
        </mat-form-field>

        <div style="display:inline-block;margin-left:6px;vertical-align:top;margin-top:2px;">
          <mat-radio-group style="display: flex; flex-direction: column;" color="primary" (change)="sortData()"
            [(ngModel)]="inputSortDirection" [disabled]="disableInput">
            <mat-radio-button style="margin:2px;" value="asc">Asc</mat-radio-button>
            <mat-radio-button style="margin:2px;" value="desc">Desc</mat-radio-button>
          </mat-radio-group>
        </div>
      </span>
    </div>
  </div>

  <!-- Loading -->
  <div id="loading" role="loading">
    <mat-progress-bar mode="indeterminate" *ngIf="disableInput"></mat-progress-bar>
  </div>
</div>

<!-- Search Placeholder -->
<div id="search-placeholder" *ngIf="!results && !disableInput">
  <h4 *ngIf="!error" style="display:inline-block;margin-top:4px;">No Data to Display.</h4>
  <h4 *ngIf="error" style="display:inline-block;margin-top:4px;">{{error}}</h4>
</div>

<!-- Search Loading -->
<div id="search-loading" *ngIf="!results && disableInput">
  <h4 style="display:inline-block;margin-top:4px;">Fetching {{inputProvider}} data. This may take a minute...</h4>
</div>

<!-- Search Results -->
<div id="search-results" *ngIf="results">
  <h2 style="display:inline-block;margin-right:8px;line-height:22px;">{{results.length}}</h2>
  <h4 style="display:inline-block;line-height:22px;">Results Found
    <!-- <span *ngIf="coins">(Using Data Cache)</span> -->
    <!-- <button style="margin-left:8px;" (click)="search(false)" [disabled]="disableInput" mat-stroked-button color="primary">Refresh Cache</button> -->
  </h4>

  <div id="search-results-cards">
    <a *ngFor="let coin of results" target="_blank" href="https://www.coingecko.com/en/coins/{{coin.id}}">
      <mat-card>
        <mat-card-header>
          <div class='card-avatar' mat-card-avatar style="background-image:url('{{coin.image}}');"></div>
          <mat-card-title>{{coin.name}}</mat-card-title>
          <mat-card-subtitle>{{coin.symbol}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <table style="width:100%;">
            <tr style="width:100%;">
              <td style="width:50%;text-align:left;"><b>Price</b>:<br /> {{coin.price |
                currency:'USD':'symbol-narrow':'1.2-12'}}</td>
              <td style="width:50%;text-align:right"><b>Volume</b>:<br /> {{coin.volume |
                currency:'USD':'symbol-narrow':'1.0-0'}}</td>
            </tr>
          </table>
        </mat-card-content>
      </mat-card>
    </a>
  </div>

</div>